binding/android/PicoLLMTestApp/** linguist-detectable=false
binding/android/PicoLLM/picollm/src/main/java/ai/picovoice/picollm/dialog/** linguist-detectable=false
binding/ios/PicoLLMAppTest/** linguist-detectable=false
binding/nodejs/** linguist-detectable=false
binding/web/cypress/** linguist-detectable=false
binding/web/scripts/** linguist-detectable=false
binding/web/src/picollm.ts linguist-detectable=false
binding/web/test/** linguist-detectable=false
demo/** linguist-detectable=false
lib/** linguist-detectable=false
resources/** linguist-detectable=false
*.py linguist-detectable=true