name: .NET Demos

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths:
      - '.github/workflows/dotnet-demos.yml'
      - 'demo/dotnet/**'
      - '!demo/dotnet/README.md'
  pull_request:
    branches: [ main, 'v[0-9]+.[0-9]+' ]
    paths:
      - '.github/workflows/dotnet-demos.yml'
      - 'demo/dotnet/**'
      - '!demo/dotnet/README.md'

defaults:
  run:
    working-directory: demo/dotnet/PicoLLMDemo

jobs:
  build-self-hosted:
    runs-on: ${{ matrix.machine }}

    strategy:
      fail-fast: false
      matrix:
        xpu: [ cpu ]
        machine: [ rpi4-32, rpi4-64, rpi5-32, rpi5-64, pv-linux, pv-ios, pv-windows, pv-windows-arm64 ]
        include:
          - xpu: gpu
            machine: pv-linux
          - xpu: gpu
            machine: pv-windows
          - xpu: gpu
            machine: pv-windows-igpu

    steps:
    - uses: actions/checkout@v3

    - name: Download resource files
      run: curl http://${{secrets.PV_CICD_RES_SERVER_AUTHORITY}}/github/picollm/res/phi2-290.pllm/05-f5a103d/phi2-290.pllm -o phi2-290.pllm

    - name: Package restore
      run: dotnet restore

    - name: Build completion demo
      run: dotnet build -c CompletionDemo.Release

    - name: Run completion demo
      run: dotnet run -c CompletionDemo.Release -- --access_key ${{secrets.PV_VALID_ACCESS_KEY}} --model_path phi2-290.pllm --completion_token_limit 10 --prompt "Hello my name is" --device ${{matrix.xpu}}
