name: iOS Tests

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths:
      - '.github/workflows/ios-local.yml'
      - 'binding/ios/PicoLLMAppTest/**'
      - 'resources/.test/**'
  pull_request:
    branches: [ main, 'v[0-9]+.[0-9]+' ]
    paths:
      - '.github/workflows/ios-local.yml'
      - 'binding/ios/PicoLLMAppTest/**'
      - 'resources/.test/**'

defaults:
  run:
    working-directory: binding/ios/PicoLLMAppTest

jobs:
  build:
    name: Run iOS Tests
    runs-on: pv-ios

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Run Cocoapods
        run: pod install

      - name: Inject AccessKey
        run: sed -i '.bak' 's:{TESTING_ACCESS_KEY_HERE}:${{secrets.PV_VALID_ACCESS_KEY}}:'
          PicoLLMAppTestUITests/BaseTest.swift

      - name: Inject Resource URL
        run: sed -i '.bak' 's?{TESTING_MODEL_URL_HERE}?http://${{secrets.PV_CICD_RES_SERVER_AUTHORITY}}/github/picollm/res/phi2-290.pllm/latest/phi2-290.pllm?'
          PicoLLMAppTestUITests/BaseTest.swift

      - name: XCode Build
        run: xcrun xcodebuild build-for-testing
          -configuration Debug
          -workspace PicoLLMAppTest.xcworkspace
          -sdk iphoneos
          -scheme PicoLLMAppTest
          -derivedDataPath ddp
          CODE_SIGNING_ALLOWED=NO

      - name: Run Tests on Simulator
        run: xcrun xcodebuild test
          -workspace PicoLLMAppTest.xcworkspace
          -scheme PicoLLMAppTest
          -destination 'platform=iOS Simulator,name=iPhone 13,OS=16.4'
