name: Python Demos

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths:
      - '.github/workflows/python-demos.yml'
      - 'demo/python/**'
      - '!demo/python/README.md'
  pull_request:
    branches: [ main, 'v[0-9]+.[0-9]+' ]
    paths:
      - '.github/workflows/python-demos.yml'
      - 'demo/python/**'
      - '!demo/python/README.md'

defaults:
  run:
    working-directory: demo/python

jobs:
  build-self-hosted:
    runs-on: ${{ matrix.machine }}

    strategy:
      fail-fast: false
      matrix:
        xpu: [ cpu ]
        machine: [ rpi4-32, rpi4-64, rpi5-32, rpi5-64, pv-linux, pv-ios, pv-windows, pv-windows-arm64 ]
        include:
          - xpu: gpu
            machine: pv-linux
          - xpu: gpu
            machine: pv-windows
          - xpu: gpu
            machine: pv-windows-igpu
    steps:
    - uses: actions/checkout@v3

    - name: Setup Python virtualenv (*nix)
      if: ${{ matrix.machine != 'pv-windows' && matrix.machine != 'pv-windows-igpu' && matrix.machine != 'pv-windows-amd64' }}
      run: |
        python3 -m venv .venv
        . .venv/bin/activate
        echo PATH=$PATH >> $GITHUB_ENV

    - name: Setup Python virtualenv (windows)
      if: ${{ matrix.machine == 'pv-windows' || matrix.machine == 'pv-windows-igpu' || matrix.machine == 'pv-windows-amd64' }}
      run: |
        python3 -m venv .venv --symlinks
        .venv\Scripts\activate
        echo PATH=$PATH >> $GITHUB_ENV

    # ************ REMOVE AFTER RELEASE ***************
    - name: build local binding
      run: |
        python3 -m pip install setuptools wheel
        python3 -m setup sdist bdist_wheel
      working-directory: binding/python
    # ************ REMOVE AFTER RELEASE ***************

    - name: Install Python dependencies
      run: python3 -m pip install -r requirements.txt

    - name: Download resource files
      run: curl http://${{secrets.PV_CICD_RES_SERVER_AUTHORITY}}/github/picollm/res/phi2-290.pllm/04-d5f2aa0/phi2-290.pllm -o phi2-290.pllm

    - name: Test
      run: python3 picollm_demo_completion.py --access_key ${{secrets.PV_VALID_ACCESS_KEY}} --model_path phi2-290.pllm --completion_token_limit 10 --prompt "Hello my name is" --device ${{matrix.xpu}}
